#body{
    overflow: hidden;
}

#head{
    overflow: hidden;
}

#title{
    width: 400px;
    height: 100px;
    left: 48px;
    top: 125px;
}

#directions{
    width: 400px;
    height: 132.22px;
    left: 765px;
    top: 125px;
}

#top{
    width: 1350px;
    height: 10px;
    left: 0px;
    top: 0px;
}

#topButton{
    width: 200px;
    height: 45px;
    left: 46px;
    top: 24px;
}

#measurements{
    width: 475px;
    height: 335px;
    left: 875px;
    top: 325px;
}

#mainScreen{
    width: 105%;
    height: 105%;
    top: 0px;
    left: 0px;
}

#drinkChoice{
    width: 450px;
    height:200px;
    top: 250px;
    left: 30px;

    background: transparent;
    border: none;
}

#drinkChoice:focus {outline:0;}

#overlay{
    visibility: visible;
}

#recipe{

    width: 450px;
    height:350px;
    top: 300px;
    left: 34px;
}

#title, #main, #recipe, #directions, #top, #measurements, #mainScreen, #drinkChoice, #topButton{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    z-index: 9999;
    display: inline-block;
    position: absolute;
}