#body{
    overflow: hidden;
}

#head{
    overflow: hidden;
}

#title{
    width: 400px;
    height: 100px;
    left: 48px;
    top: 125px;
}

#directions{
    width: 400px;
    height: 132.22px;
    left: 765px;
    top: 125px;
}

#top{
    width: 1350px;
    height: 10px;
    left: 0px;
    top: 0px;
}

#topButton{
    width: 200px;
    height: 45px;
    left: 46px;
    top: 24px;
}

#measurements{
    width: 475px;
    height: 335px;
    left: 875px;
    top: 325px;
}

#mainScreen{
    width: 105%;
    height: 105%;
    top: 0px;
    left: 0px;
}

#drinkChoice{
    width: 450px;
    height:200px;
    top: 250px;
    left: 30px;

    background: transparent;
    border: none;
}

#drinkChoice:focus {outline:0;}

#overlay{
    visibility: visible;
}

#recipe{
    width: 450px;
    height:350px;
    top: 300px;
    left: 34px;
}

#tea{
    top: 300px;
    left: 30px;

    background-color: #D932AA;
}

#pomegranate{
    top: 300px;
    left: 50px;

    background-color: #D21B1B;
}

#rum{
    top: 300px;
    left: 70px;

    background-color: #FC8B23;
}

#orange{
    top: 300px;
    left: 90px;

    background-color: #FC3023;
}

#prosecco{
    top: 300px;
    left: 110px;

    background-color: #4AD1DA;
}

#tea, #pomegranate, #rum, #orange, #prosecco{
    z-index: 9999;
    display: inline-block;
    position: absolute;
    border-color: transparent;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    outline: 0;
    width: 100px;
    height: 30px;
    padding: 2px;
}

#title, #main, #recipe, #directions, #top, #measurements, #mainScreen, #drinkChoice, #topButton{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    z-index: 9999;
    display: inline-block;
    position: absolute;
}